.idea
/logs
/data
.env
/.project
.docker-sync
/adminer
/aerospike
/apache2
/aws
/beanstalkd-console
/beanstalkd
/caddy
/grafana
/hhvm
/jenkins
/maildev
/mariadb
/memcached
/minio
/mssql
/percona
/pgadmin
/postgres-postgis
/postgres
/rethinkdb
/selenium